<div class="col-12 container">
  <div class="row justify-content-center">
    <app-add-word></app-add-word>
    <app-add-phrase></app-add-phrase>
  </div>
  <hr>
  <ul class="list-inline row justify-content-start">
    <li *ngFor="let item of (recentWords$ | async)" class="list-item col-4">
      <div class="card mt-2">
        <div class="d-flex justify-content-end align-items-center m-0 p-0">
          <button (click)="deleteWord(item)" class="float-right btn btn-outline-warning  btn-sm">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="card-body pt-0 mt-0">
          <h4 class="card-title">{{item.sourceText}}</h4>
          <p class="card-text">{{item.targetText}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
